body {
    background-color: #fff
}

#auth {
    overflow-x: hidden;
}

#auth #auth-center {
    padding: 3rem 3rem;
}

#auth .card {
    margin-top: 6rem;
    box-shadow: 0px 0px 20px 5px rgba(0, 123, 189, 0.1);
}

#auth #auth-center .auth-title {
    font-size: 2rem;
    text-align: center;
}

#auth #auth-center .auth-subtitle {
    color: #a8aebb;
    font-size: 1rem;
    text-align: center;
}

#auth #auth-center .auth-logo {
    margin-bottom: 2rem;
    text-align: center;
}

#auth #auth-center .auth-logo img {
    height: 4rem
}

/* @media screen and (max-width:767px) {
    #auth #auth-center {
        padding: 5rem
    }
}

@media screen and (max-width:576px) {
    #auth #auth-center {
        padding: 5rem 3rem
    }
} */
